@import "tailwindcss";

* {
  font-family:Inter, "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@theme {
  --color-primary: hsl(217, 91%, 60%);
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

.input-field {
  @apply p-2 text-sm border border-gray-300 rounded-lg outline-none focus:ring-1 focus:ring-black placeholder:text-gray-400 bg-neutral-50 sm:text-base;
}

.input-field-label {
  @apply px-2 text-sm text-gray-600 max-sm:text-xs;
}

.form-submit-btn {
  @apply p-4 text-base text-white transition-all duration-300 rounded-lg bg-primary max-sm:text-sm hover:bg-primary/95 hover:scale-105;
}

.tab-label {
  @apply py-3 px-4 text-sm sm:text-base sm:py-3 transition-all duration-300 sm:px-6 cursor-pointer hover:bg-gray-200 relative after:absolute after:bg-primary after:bottom-0 after:left-0 after:right-0 after:h-[2px] sm:after:h-[2.5px] after:rounded-full after:transition-all after:duration-300;
}

.tab-selected {
  @apply font-medium after:opacity-100 after:scale-x-100 text-primary;
}

.tab-not-selected {
  @apply text-gray-500 after:opacity-0 after:scale-x-0;
}
